motor==2.5.1
pydantic==1.10.11
requests
python-chrisclient
asyncio
psutil
pytz

# dev
pytest==7.2.0
httpx==0.23.1
pytest-asyncio
fastapi_jwt_auth
python-jose[cryptography]
passlib[bcrypt]
python-multipart
